:root {
  --headerColor: #24292d;
  --titleColor: #24292d;
  --mainColor: #28a745;
}

.navigation-bar {
  overflow: hidden;
  background-color: var(--headerColor);;
  z-index: 10000;
  position: fixed;
  width: 100%;
  min-height: 60px;
}

.navigation-logo {
  padding: 0 0 0 0;
}

.header {
  padding-right: 32px;
  min-height: 60px;
}

.header img {
  margin-left: 0;
  padding: 5px 5px 5px 5px;
  width: 100px;
  height: auto;
}

.navigation-links {
  max-height: 0px;
  transition: max-height 0.15s linear;
  overflow:hidden;
  width: 100%;
  /* background: #515558;
  background: -moz-linear-gradient(top, var(--headerColor) 0%, #4b4f51 100%);
  background: -webkit-linear-gradient(top, var(--headerColor) 0%,#4b4f51 100%);
  background: linear-gradient(to bottom, var(--headerColor) 0%,#4b4f51 100%); */
}

.navigation-links.responsive {
  max-height: 500px;
  transition: max-height 0.15s linear;
}

.navigation-links a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  visibility: hidden;
  /* display: none; */
}

.burgerMenu, .burgerMenu a {
  font-size: 25px;
  float: right;
  display: block;
  position: absolute;
  top: 17px;
  right: 10px;
  color: white !important;
  text-decoration: none !important;
}

.navigation-links .responsive {
  position: relative;
}

.navigation-links.responsive a {
  float: none;
  /* display: block; */
  text-align: right;
  visibility: visible;

}

.currentPage {
  font-weight: 600;
}

.footer {
  text-align: center;
  margin-top: 75px;
  width: 100%;
  height: 50vh;
  background-color: var(--headerColor);;
  position: relative;
}

.footer-info {
  padding: 10px 15px 0px 15px;
}

.footer-info h2 {
  margin-bottom: 20px;
  color: white;
  font-size: 24px;
}

.footer-info h3 {
  margin-top: 10px;
  padding-top: 0px;
  color: lightgray;
  font-size: 14px;
}

.footer button {
  margin-top: 5px;
  width: 150px;
  background-color: #1c1c1c;
  color: white;
  border: 2px solid lightgray;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 5px 10px 5px;
  /*Transitions*/
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  /* main property */
  transition:.3s;
}

.footer button:hover {
  border: 2px solid gray;
  background-color: white;
  color: black;
}

.visitLink, .visitLink a {
  color: var(--mainColor);
  font-weight: 500;
  text-decoration: none;
}

.selectDisable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.cursorPointer {
  cursor: pointer;
}
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flip-card-back {
  color: white;
  transform: rotateY(180deg);
}

.flip-card-back * {
  width: 100% !important;
}

.rotate-card .flip-card-inner {
  transform: rotateY(180deg);
}

.bg-orange {
  background-color: #F16529 !important;
}

.bg-yellow {
  background-color: #F0DB4F !important;
}

.bg-black {
  background-color: #000 !important;
}

.lightbox {
	display: none;

	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox:target {
	outline: none;

	display: block;
}

.lightbox span {
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
  background: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 40%;
  width: 100px;
  height: 200px;
  left: 20px;
}

.lightbox span i {
  color: white;
  font-size: 30px;
}

.lightbox span:hover {
  background: rgba(0, 0, 0, 0.9);
}

.lightbox a {
  width: 100vw;
  height: 100vh;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (orientation:landscape) {
  .header img {
    margin-left: 0;
    padding: 7px 5px 5px 5px;
    width: 80px;
    height: auto;
  }

  .navigation-bar .icon {
    margin-top: 0;
  }

}
