.navigation-bar {
  overflow: hidden;
  background-color: rgba(0,0,0,0.95);
  z-index: 10000;
  position: fixed;
  width: 100%;
}

.navigation-logo {
  padding: 0 0 0 0;
}

.header {
  padding-right: 32px;
}

.header img {
  margin-left: 0;
  padding: 5px 5px 5px 5px;
  width: 120px;
  height: auto;
}

.navigation-bar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.navigation-bar a {
  display: none;
}

.navigation-bar .icon {
  margin-top: 10px;
  font-size: 25px;
}

.navigation-bar a.icon {
  float: right;
  display: block;
}

.navigation-bar .responsive {
  position: relative;
}

.navigation-bar.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
}

.navigation-bar.responsive a {
  float: none;
  display: block;
  text-align: right;
}

.navigation-bar.responsive .navigation-links {
  padding-top: 10vh;
}

.footer {
  text-align: center;
  margin-top: 75px;
  width: 100%;
  height: 50vh;
  background-color: #23345e;
  position: relative;
  top: 100%;
}

.footer-info {
  padding: 10px 15px 0px 15px;
}

.footer-info h2 {
  margin-bottom: 20px;
  color: white;
  font-size: 24px;
}

.footer-info h3 {
  margin-top: 10px;
  padding-top: 0px;
  color: lightgray;
  font-size: 14px;
}

.footer button {
  margin-top: 5px;
  width: 150px;
  background-color: #1c1c1c;
  color: white;
  border: 2px solid lightgray;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 5px 10px 5px;
  /*Transitions*/
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  /* main property */
  transition:.3s;
}

.footer button:hover {
  border: 2px solid gray;
  background-color: white;
  color: black;
}
