body {
  background-color: white;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 20px;
}

.header {
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,0.4)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.4)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.4)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.4)); /* Standard syntax (must be last) */
  position: absolute;
  margin: 0px 0px 0px 0px;
  padding-top: 20px;
  padding-bottom: 50px;
  min-height: 8%;
  max-height: 16%;
  width: 100%;
  z-index: 1000;
}

.header .navigation-bar {
  padding: 0px 0px 0px 0px;
}

.navigation-logo {
  padding-left: 15px;
}

.navigation-links {
  text-align: right;
  margin-right: 20px;
  margin-top: 10px;
}

.navigation-links a {
  font-size: 20px;
  font-weight: 500;
  color: #e8e8e8;
  padding: 0px 10px 0px 10px;
  text-decoration: none;

  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.navigation-links a:hover {
  color: white;
}

.navigation-logo {
  margin-top: 3px;
  margin-left: 3px;
}

.header img {
  margin-top: -5px;
  width: 130px;
  height: auto;
}
