:root {
  --headerColor: #24292d;
  --titleColor: #24292d;
  --mainColor: #28a745;
}

.navigation-bar {
  overflow: hidden;
  background-color: var(--headerColor);;
  z-index: 10000;
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burgerMenu {
  display: none;
}

.navigation-logo {
  margin-left: 5px;
}

.navigation-links {
  text-align: right;
  align-self: center;
  margin-right: 20px;
  margin-top: 10px;
}

.navigation-links a {
  font-size: 20px;
  font-weight: 500;
  color: #d7d7d7;
  padding: 0px 10px 0px 10px;
  text-decoration: none;

  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.navigation-links a:hover {
  color: white;
}

.header img {
  width: 130px;
  height: auto;
}

.footer {
  margin-top: 75px;
  padding-top: 10px;
  width: 100%;
  height: 250px;
  background-color: #24292d;
  position: relative;
}

.footer button {
  margin-top: 5px;
  width: 150px;
  background-color: #1c1c1c;
  color: white;
  border: 2px solid lightgray;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 5px 10px 5px;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}

.footer button:hover {
  border: 2px solid gray;
  background-color: white;
  color: black;
}

.footer-info {
  text-align: center;
  padding: 20px 15px 20px 15px;
}

.footer-info h2 {
  margin-bottom: 10px;
  color: white;
  font-size: 24px;
}

.footer-info h3 {
  margin-top: 0px;
  padding-top: 0px;
  color: lightgray;
  font-size: 14px;
}

.navigation-bar .icon {
  display: none;
}

.cursorPointer {
  cursor: pointer;
}

.visitLink, .visitLink a {
  color: var(--mainColor);
  font-weight: 500;
  text-decoration: none;
}

.selectDisable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.hireSean {
  color: white !important;
  background-color: black;
  padding: 16px 10px !important;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-radius: 5px;
  font-weight: 700 !important;
}

.hireSean:hover {
  color: black !important;
  background-color: white;
  padding: 16px 10px !important;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flip-card-back {
  color: white;
  transform: rotateY(180deg);
}

.flip-card-back * {
  width: 100% !important;
}

.rotate-card .flip-card-inner {
  transform: rotateY(180deg);
}

.bg-orange {
  background-color: #F16529 !important;
}

.bg-yellow {
  background-color: #F0DB4F !important;
}

.bg-black {
  background-color: #000 !important;
}

.lightbox {
	display: none;

	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox:target {
	outline: none;

	display: block;
}

.lightbox span {
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
  background: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 40%;
  width: 100px;
  height: 200px;
  left: 20px;
}

.lightbox span i {
  color: white;
  font-size: 30px;
}

.lightbox span:hover {
  background: rgba(0, 0, 0, 0.9);
}

.lightbox a {
  width: 100vw;
  height: 100vh;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.margin-top {
  margin-top: 16px;
}

.margin-top-more {
  margin-top: 32px;
}