:root {
  --headerColor: #24292d;
  --titleColor: #24292d;
  --mainColor: #28a745;
}

.navigation-bar {
  overflow: hidden;
  background-color: var(--headerColor);;
  z-index: 10000;
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burgerMenu {
  display: none;
}

.navigation-logo {
  margin-left: 5px;
}
/* .currentPage {
  font-weight: 700 !important;
} */

.navigation-links {
  text-align: right;
  align-self: center;
  margin-right: 20px;
  margin-top: 10px;
}

.navigation-links a {
  font-size: 20px;
  font-weight: 500;
  color: #d7d7d7;
  padding: 0px 10px 0px 10px;
  text-decoration: none;

  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.navigation-links a:hover {
  color: white;
}

.header img {
  width: 130px;
  height: auto;
}

.footer {
  margin-top: 75px;
  padding-top: 10px;
  width: 100%;
  height: 250px;
  background-color: #24292d;
  position: relative;
}

.footer button {
  margin-top: 5px;
  width: 150px;
  background-color: #1c1c1c;
  color: white;
  border: 2px solid lightgray;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 5px 10px 5px;
  /*Transitions*/
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  /* main property */
  transition:.3s;
}

.footer button:hover {
  border: 2px solid gray;
  background-color: white;
  color: black;
}

.footer-info {
  text-align: center;
  padding: 20px 15px 20px 15px;
}

.footer-info h2 {
  margin-bottom: 10px;
  color: white;
  font-size: 24px;
}

.footer-info h3 {
  margin-top: 0px;
  padding-top: 0px;
  color: lightgray;
  font-size: 14px;
}

.navigation-bar .icon {
  display: none;
}

.cursorPointer {
  cursor: pointer;
}

.visitLink, .visitLink a {
  color: var(--mainColor);
  font-weight: 500;
  text-decoration: none;
}

.selectDisable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.hireSean {
  color: white !important;
  background-color: black;
  padding: 16px 10px !important;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-radius: 5px;
  font-weight: 700 !important;
}

.hireSean:hover {
  color: black !important;
  background-color: white;
  padding: 16px 10px !important;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}