@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Medium.otf);
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-Light.ttf);
}

.main {
  margin: 0 0 0 0;
  height: auto;
  width: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4000a3+0,d8543c+100 */
  background: #4000a3; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #4000a3 0%, #d8543c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #4000a3 0%,#d8543c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #4000a3 0%,#d8543c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4000a3', endColorstr='#d8543c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background-size: 100% 100%;
}

.content {
  margin: 20vh 25% 0 25%;
  padding: 30px 3% 5% 3%;
  box-shadow: 0 2px 6px rgba(100, 100, 100, 0.5);
  background: rgba(255,255,255,0.92);
  color: black;
}

.content .title {
  text-align: center;
}

h1 {
  font-family: Raleway;
  color: #4000a3;
}

.description {
  font-family: "HelveticaNueue-Light";
  font-size: 16px;
}

.description h2 {
  text-align: center;
  margin-top: 30px;
  font-family: Montserrat;
  color: #4000a3;

}

form {
  margin: 0 0% 20px 0%;
}

.name-wrapper, .email-wrapper, .phone-wrapper {
  padding: 0 100px 0 100px;
}

form input[type="text"], form textarea {
  width: 100%;
}

.message-wrapper {
  padding-top: 20px;
  text-align: center;
}

.button-wrapper {
  text-align: center;
}

.button-wrapper input, .button-wrapper button {
  margin-top: 50px;
  width: 250px;
  background-color: #4000a3;
  color: white;
  border: none;
  letter-spacing: 2px;
  font-size: 14px;
  padding: 15px 20px 15px 20px;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
  font-family: "HelveticaNeue-Light";
}

.button-wrapper input:hover, .button-wrapper button:hover {
  background-color: white;
  color: black;
}

.contact-form div {
  margin: 20px 40px;
  /*text-align: center;*/
}

.message-wrapper textarea {
  resize: none;
  height: 200px;
}

.main-sent {
  margin: 0 0 0 0;
  height: auto;
  width: 100%;
  background-color: #e6e6e6;
  background: url("../pictures/contact-page.jpg")
    no-repeat fixed center;
  background-size: 100% 100%;
}

.content-sent {
  text-align: center;
  height: 60vh;
  margin: 20vh 25% 0 25%;
  padding: 30px 3% 5% 3%;
  box-shadow: 0 2px 6px rgba(100, 100, 100, 0.5);
  background: rgba(255,255,255,0.92);
  color: #23345e;
}

.description-sent {
  margin-top: 10vh;
  text-align: center;
  font-weight: 200;
  font-family: Raleway;
  font-size: 16px;
}
