@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Medium.otf);
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-Light.ttf);
}

.main {
  margin: 0 0 0 0;
  height: auto;
  width: 100%;
  background-color: #e6e6e6;
  background: url("../pictures/contact-page.jpg")
    no-repeat fixed center;
  background-size: 100% 100%;
}

.content {
  margin: 20vh 25% 0 25%;
  padding: 30px 3% 5% 3%;
  box-shadow: 0 2px 6px rgba(100, 100, 100, 0.5);
  background: rgba(255,255,255,0.92);
  color: #23345e;
}

.content .title {
  text-align: center;
}

h1 {
  font-family: Raleway;
}

.description {
  font-family: "HelveticaNueue-Light";
  font-size: 16px;
}

.description h2 {
  text-align: center;
  margin-top: 30px;
  font-family: Montserrat;
}

form {
  margin: 0 0% 20px 0%;
}

.name-wrapper, .email-wrapper, .phone-wrapper {
  padding: 0 100px 0 100px;
}

form input[type="text"], form textarea {
  width: 100%;
}

.message-wrapper {
  padding-top: 20px;
  text-align: center;
}

.button-wrapper {
  text-align: center;
}

.button-wrapper input, .button-wrapper button {
  margin-top: 50px;
  width: 250px;
  background-color: #23345e;
  color: white;
  border: 2px solid;
  letter-spacing: 2px;
  font-size: 14px;
  padding: 15px 20px 15px 20px;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
  font-family: "HelveticaNeue-Light";
}

.button-wrapper input:hover, .button-wrapper button:hover {
  background-color: white;
  color: black;
}

.contact-form div {
  margin: 20px 40px;
  /*text-align: center;*/
}

.message-wrapper textarea {
  resize: none;
  height: 200px;
}

.main-sent {
  margin: 0 0 0 0;
  height: auto;
  width: 100%;
  background-color: #e6e6e6;
  background: url("../pictures/contact-page.jpg")
    no-repeat fixed center;
  background-size: 100% 100%;
}

.content-sent {
  text-align: center;
  height: 60vh;
  margin: 20vh 25% 0 25%;
  padding: 30px 3% 5% 3%;
  box-shadow: 0 2px 6px rgba(100, 100, 100, 0.5);
  background: rgba(255,255,255,0.92);
  color: #23345e;
}

.description-sent {
  margin-top: 10vh;
  text-align: center;
  font-weight: 200;
  font-family: Raleway;
  font-size: 16px;
}
