.row {
  margin: 0 0 0 0;
}

.bounce {
	-webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	-o-animation-name: bounce;
	animation-name: bounce;
}

.animated {
  -webkit-animation-fill-mode:both;
  -moz-animation-fill-mode:both;
  -ms-animation-fill-mode:both;
  -o-animation-fill-mode:both;

  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;

  animation-fill-mode:both;
  -webkit-animation-duration:2s;
  -moz-animation-duration:2s;
  -ms-animation-duration:2s;
  -o-animation-duration:2s;
  animation-duration:2s;
}


@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Medium.otf);
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-Light.ttf);
}

.sub-title h1 {
  font-family: Montserrat;
  font-size: 80px;
  font-weight: 800;
  color: white;
}

.title h2 {
  font-family: Raleway;
  font-size: 50px;
  color: white;
  font-weight: 700;
}

.sub-title h3 {
  padding-top: 2px;
  font-family: "HelveticaNeue-Light";
  font-size: 30px;
  color: white;
  font-weight: 400;
}

.container {
  width: 100%;
  padding: 0px 0px 0px 0px;
}

.main {
  margin: 0px 0px 0px 0px;
  height: 45%;
  width: 100%;
  background-size: 100% 100%;
  background-color: var(--headerColor);
}

.title-area {
  width: 100%;
  text-align: center;
  z-index: 3;
    display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.title {
  color: white;
}

.title img {
  width: 40%;
  height: auto;
}

.sub-title {
  margin-top: 0px;
  color: white;
}

.arrow {
  z-index: 2;
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left:-20px;
}

.proficiencies {
  background: var(--headerColor);
}

.proficienciesContent {
  max-width: 1400px;
  margin: auto;
}

.proficienciesTitle {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.proficiencyTile {
  min-height: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.proficiencyTile i, .proficiencyTile img {
  font-size: 12em;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}


.proficiencyTile img {
  width: 18vh;
  height: auto;
  padding-top: 5px;
}

.proficiencyTile .tileText {
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 2vw;
}

.proficiencyTile:hover i {
  font-size: 10em;
}

.proficiencyTile:hover img {
  width: 15vh;
}

.resumeLink {
  min-height: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
  font-size: 20px;
  width: 100%;
}

.resumeLink a {
  width: 100%;  
  text-decoration: none;
  height: auto;
}

.resumeLink a div {
  display: flex;
  align-items: baseline;
  justify-content: center;
  color: white;
}


.resumeLink a .tileText i {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  max-width: 20px;
  width: 100%;
  font-size: 20px;
}

.resumeLink a .tileText {
  width: 100%;
  text-align: right;
  font-size: 3vw;
}

.resumeLink:hover a i {
  max-width: 35px;
}

.footer {
  z-index: 6;
}

.about {
  margin: 20px 10% 20px 10%;
  position: relative;
  line-height: 2;
  background-color: white;
  font-family: 'Montserrat';
}

.about-photo {
  text-align: center;
  margin: 50px 0 0 0;
  padding: 0 0 0 0;
  width: 100%;
}

.about-photo img {
  width: 20%;
  height: auto;
  border: 4px solid var(--headerColor);
}

.about-title {
  margin-top: 15px;
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
}

.proficienciesTitle {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-title h1 {
  color: var(--titleColor);
  font-size: 40px;
  font-family: Montserrat;
}

.about-content {
  font-size: 16px;
  font-weight: 300;
  padding: 0 30px;
}

.p1, .p2, .p3 {
  padding: 0;
}

.p2, .p3 {
  margin-top: 30px;
}

.p2, .p3 {
  margin-top: 30px;
}

.portfolio-button {
  margin-top: 35px;
  width: 200px;
  background-color: white;
  color: black;
  border: 2px solid #555555;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 500;
  padding: 15px 20px 15px 20px;
  /*Transitions*/
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  /* main property */
  transition:.3s;
}

.portfolio-button:hover {
  background-color: black;
  color: white;
}

@media (min-width: 1500px) {
  .proficiencyTile, .resumeLink {
    min-height: 20vw;
  }
}