@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Medium.otf);
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-Light.ttf);
}

h1 {
  font-family: Montserrat;
  font-size: 80px;
  font-weight: 800;
  color: white;
}

h2 {
  font-family: Raleway;
  font-size: 50px;
  color: white;
  font-weight: 700;
}

h3 {
  padding-top: 2px;
  font-family: "HelveticaNeue-Light"
  font-size: 30px;
  color: white;
  font-weight: 400;
}

.container {
  width: 100%;
  padding: 0px 0px 0px 0px;
}

.main {
  margin: 0px 0px 0px 0px;
  height: 100%;
  width: 100%;
}

.title-area {
  position: absolute;
  width: 100%;
  top: 28%;
  text-align: center;
}

.title {
  color: gray;
}

.title img {
  width: 40%;
  height: auto;
}

.sub-title {
  margin-top: 0px;
  color: white;
}

.carousel-control {
  background-image: none !important;
  z-index: 20;
}

.carousel-inner {
  z-index: 0;
}

.right, .left{
  color: #fcfcfc;
}

.right:hover, .left:hover {
  color: #fcfcfc;
}
