.row {
  margin: 0 0 0 0;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Medium.otf);
}

@font-face {
    font-family: Montserrat-Light;
    src: url(../fonts/Montserrat-Medium.otf);
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-Light.ttf);
}

.sub-title h1 {
  font-family: 'Montserrat';
  font-size: 1.6em;
  font-weight: 800;
  color: white;
}

.sub-title h3 {
  padding: 2px 10px 0 10px;
  font-family: 'Montserrat';
  font-size: 18px;
  color: white;
  font-weight: 300;
}

.container {
  width: 100%;
  padding: 0px 0px 0px 0px;
}

.main {
  margin: 0px 0px 0px 0px;
  width: 100%;
  background-color: #24292d;
  height: 200px;
}

.home-canvas {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.title-area {
  display:flex;
  align-items:center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 3;
  font-size: 15px;
}

.title {
  display: block;
  color: white;
}

.title img {
  width: 40%;
  height: auto;
}

.sub-title {
  margin-top: 0px;
  color: white;
}

.arrow {
  z-index: 2;
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left:-20px;
}

.about {
  margin: 20px 10% 20px 10%;
  position: relative;
  line-height: 2;
  background-color: white;
  font-family: 'Montserrat';
}

.about-photo {
  text-align: center;
  margin: 50px 0 0 0;
  padding: 0 0 0 0;
  width: 100%;
}

.about-photo img {
  width: 40%;
  height: auto;
  border: 4px solid var(--headerColor);
}

.about-title {
  margin-top: 15px;
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
}

.proficienciesTitle {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-title h1 {
  color: var(--titleColor);
  font-size: 40px;
  font-family: Montserrat;
}

.about-content {
  font-size: 16px;
  font-weight: 300;
}

.p1, .p2, .p3 {
  padding: 0;
}

.p2, .p3 {
  margin-top: 30px;
}

.portfolio-button {
  margin-top: 35px;
  width: 200px;
  background-color: white;
  color: black;
  border: 2px solid #555555;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 500;
  padding: 15px 20px 15px 20px;
  /*Transitions*/
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  /* main property */
  transition:.3s;
}

.portfolio-button:hover {
  background-color: black;
  color: white;
}

.proficiencies {

}

.proficiencyTile {
  min-height: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


.proficiencyTile i, .proficiencyTile img {
  font-size: 6em;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}


.proficiencyTile img {
  width: 9vh;
  height: auto;
  padding-top: 5px;
}

.proficiencyTile .tileText {
  width: 100%;
  text-align: center;
  font-weight: 500;
}

/* .proficiencyTile:hover i {
  font-size: 5em;
}

.proficiencyTile:hover img {
  width: 7vh;
} */

.resumeLink {
  min-height: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
  font-size: 20px;
  width: 100%;
}

.resumeLink a {
  width: 100%;  
  text-decoration: none;
  height: auto;
}

.resumeLink a div {
  display: flex;
  align-items: baseline;
  justify-content: center;
  color: white;
}


.resumeLink a .tileText i {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  max-width: 20px;
  width: 100%;
  font-size: 20px;
}

.resumeLink a .tileText {
  width: 100%;
  text-align: right;
}

/* .resumeLink:hover a i {
  max-width: 35px;
} */
@media (max-width: 400px) {
  .proficiencyTile i {
    font-size: 4em;
  }

  .proficiencyTile img {
    width: 7vh;
  }

  /* .proficiencyTile:hover i {
    font-size: 3em;
  }

  .proficiencyTile:hover img {
    width: 5vh;
  }
  .resumeLink:hover i {
    font-size: 1em;
  } */
  
}