.row {
  margin: 0 0 0 0;
}

.bounce {
	-webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	-o-animation-name: bounce;
	animation-name: bounce;
}

.animated {
  -webkit-animation-fill-mode:both;
  -moz-animation-fill-mode:both;
  -ms-animation-fill-mode:both;
  -o-animation-fill-mode:both;

  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;

  animation-fill-mode:both;
  -webkit-animation-duration:2s;
  -moz-animation-duration:2s;
  -ms-animation-duration:2s;
  -o-animation-duration:2s;
  animation-duration:2s;
}


@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Medium.otf);
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-Light.ttf);
}

.sub-title h1 {
  font-family: Montserrat;
  font-size: 80px;
  font-weight: 800;
  color: white;
}

.title h2 {
  font-family: Raleway;
  font-size: 50px;
  color: white;
  font-weight: 700;
}

.sub-title h3 {
  padding-top: 2px;
  font-family: "HelveticaNeue-Light";
  font-size: 30px;
  color: white;
  font-weight: 400;
}

.container {
  width: 100%;
  padding: 0px 0px 0px 0px;
}

.main {
  margin: 0px 0px 0px 0px;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  background-color: #4000a3;
}

.home-canvas {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.content-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}

.title-area {
  position: absolute;
  width: 100%;
  top: 27%;
  text-align: center;
  z-index: 3;
}

.title {
  color: white;
}

.title img {
  width: 40%;
  height: auto;
}

.sub-title {
  margin-top: 0px;
  color: white;
}

.arrow {
  z-index: 2;
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left:-20px;
}

.about {
  padding-top: 60px;
  top: 100%;
  margin: 20px 10% 20px 10%;
  position: relative;
  line-height: 2;
  background-color: white;
  z-index: 5;
}

.footer {
  z-index: 6;
}

.about-photo {
  text-align: center;
  margin: 50px 0 0 0;
  padding: 0 0 0 0;
}

.about-photo img {
  width: 16%;
  height: auto;
  border-radius: 50%;
}

.about-title {
  margin-top: 15px;
  margin-bottom: 30px;
  text-align: center;
}

.about-title h1 {
  color: #4000a3;
  font-size: 40px;
  font-family: Montserrat;
}

.about-content {
  font-family: "HelveticaNeue-Light";
  font-size: 18px;
  font-weight: 400;
}

.p2, .p3 {
  margin-top: 30px;
}

.portfolio-button-container {
  margin-left: 15px;
}

.portfolio-button {
  margin-top: 35px;
  width: 200px;
  background-color: white;
  color: black;
  border: 2px solid #555555;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 500;
  padding: 15px 20px 15px 20px;
  /*Transitions*/
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  /* main property */
  transition:.3s;
}

.portfolio-button:hover {
  background-color: black;
  color: white;
}
