@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Medium.otf);
}
.main {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  height: auto;
  width: 100%;
  background-color: #e6e6e6;
  background-size: 100% 100%;
  max-width: unset;
}

.content {
  margin: 0px;
  padding: 20px 5% 50px 5%;
  text-align: center;
  box-shadow: 0 2px 6px rgba(100, 100, 100, 0.5);
  background: rgba(255,255,255,0.9);
}

.projectsTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
}

.main-title {
  color: var(--titleColor);
}

.project-item {
  margin: 0 0 0 0;
  padding: 20px 0 20px 0;
}

.project-title {
  margin-bottom: 20px;
  padding: 0 0 0 0;
}

.project-title h2 {
  color: var(--titleColor);
  font-family: Montserrat;
  font-size: 24px;
}

.project-desc {
  padding: 0 0 0 0;
  text-align: center;
  font-family: "HelveticaNeue-Light";
  line-height: 2;
}

.project-images {
  padding-top: 20px;
  margin: 0;
}

.project-images a {
  padding: 5px;
}

.project-images .thumbnail {
  border: none;
  width:100%;
  height: auto;
}

.project-images .thumbnail-tall {
  height: 250px;
  padding-top: 10px;
}

.more-info-button {
  margin-top: 20px;
  margin-bottom: 50px;
  width: 200px;
  background-color: var(--mainColor);
  color: white;
  border: none;
  letter-spacing: 2px;
  font-size: 14px;
  padding: 15px 20px 15px 20px;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
  font-family: "HelveticaNeue-Light";
}

.more-info-button:hover {
  background-color: white;
  color: black;
}

.footer {
  margin-top: 0px;
}

.lightbox {
	display: none;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img {
	max-width: 90%;
	height: auto;
	margin-top: 50%;
  display: inline;
}

.lightbox:target {
	outline: none;

	display: block;
}

.lightbox span {
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
  background: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  width: 50px;
  height: 50px;
  left: 20px;
}

.lightbox span i {
  color: white;
  font-size: 30px;
}

.lightbox span:hover {
  background: rgba(0, 0, 0, 0.9);
}


.right {
  left: unset !important;
  right: 20px;
}

.lightbox a {
  width: 100vw;
  height: 100vh;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media screen and (orientation:portrait) {
  #SLT1 img, #SLT2 img, #SLT3 img {
    position: fixed;
    top: auto;
    left: auto;
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0;
  }

  #WAM1 img, #WAM2 img, #WAM3 img {
    position: fixed;
    top: auto;
    left: auto;
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0;
  }

}

@media screen and (orientation:landscape) {
  .lightbox img {
  	width: 75%;
  	height: 70%;
  	margin-top: 13%;
  }

  .lightbox {
    align-items: center;
    justify-content: center;
  }

  #WAM1 img, #WAM2 img, #WAM3 img {
    position: fixed;
    left: auto;
    top: auto;
    max-width: 14%;
    height: auto;
    display: block;
    margin: 0;
  }

  #SLT1 img, #SLT2 img, #SLT3 img {
    position: fixed;
    left: auto;
    top: auto;
    max-width: 35%;
    height: auto;
    display: block;
    margin: 0;
  }

  .right {
    float: right;
    position: absolute;
    margin-left: 45vw;
  }
 }
