@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Medium.otf);
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-Light.ttf);
}

body {
  overflow: auto;
}

.main {
  margin: 0 0 0 0;
  height: auto;
  width: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4000a3+0,d8543c+100 */
  background: #4000a3; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #4000a3 0%, #d8543c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #4000a3 0%,#d8543c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #4000a3 0%,#d8543c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4000a3', endColorstr='#d8543c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background-size: 100% 100%;
}

.content {
  margin: 20vh 12% 0 12%;
  padding: 10px 3% 75px 3%;
  text-align: center;
  color: #444;
  box-shadow: 0 2px 6px rgba(100, 100, 100, 0.5);
  background: rgba(255,255,255,0.92); /* For browsers that do not support gradients */
}

.main-title  h1, .main-title {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #4000a3;
  font-size: 50px;
}

.project-item {
  margin: 0 0 0 0;
  padding: 10px 20px 30px 30px;
}

.project-title {
  margin-bottom: 20px;
  padding: 0 0 0 0;
}

.project-title h2 {
  color: #4000a3;
  font-family: Montserrat;
  font-size: 32px;
}

.project-list {
  text-align: left;
}

.project-desc {
  font-family: "HelveticaNeue-Light";
  font-size: 18px;
  padding: 0 0 0 0;
  line-height: 2;
}

.project-images {
  padding: 20px 0 0 0;
  /*margin-left: 3%;*/
  /*margin-right: 5%;*/
}

.project-images .thumbnail {
  border: none;
  background-color: rgba(0,0,0,0);
  width: 200px;
  height: 200px;
}

.project-images .thumbnail-tall {
  width: 200px;
  height: 300px;
}

.project-link a {
  text-align: center;
  display: block;
}

.more-info-button {
  margin-top: 50px;
  width: 250px;
  background-color: #4000a3;
  color: white;
  border: none;
  letter-spacing: 2px;
  font-size: 14px;
  padding: 15px 20px 15px 20px;
  /*Transitions*/
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  /* main property */
  transition:.3s;
  font-family: "HelveticaNeue-Light";
}

.more-info-button:hover {
  background-color: white;
  color: black;
}

.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

.lightbox img {
	/** Pad the lightbox image */
	max-width: 75vw;
	max-height: 75vh;
	margin: 6% 5% 10% 1.5%;
  display: inline;
}

.wam img {
  max-width: 70vw;
  max-height: 80vh;
  margin-top: 5%;
  display: inline;
}

.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}

.lightbox:target ~ body {
  overflow: hidden;
}

.lightbox span {
  /*Transitions*/
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  /* main property */
  transition:.3s;
  margin-top: 49vh;
  padding: 20px 10px;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 2vw;
  text-decoration: none;
  z-index: 1000;
  display: inline-block;
}

.lightbox span:hover {
  background: rgba(0, 0, 0, 0.9);
}

.left {
  float: left;
}

.right {
  float: right;
  position: absolute;
  margin-left: 46.5%;
}

.lightbox a {
  width: 100vw;
  height: 100vh;
  display: block;
}
