@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Medium.otf);
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-Light.ttf);
}

.main {
  margin: 0 0 0 0;
  height: auto;
  width: 100%;
  background-color: #e6e6e6;
  background: url("../pictures/portfolio-page.jpg")
    no-repeat fixed right;
  background-size: 100% 100%;
}

.content {
  margin: 20vh 12% 0 12%;
  padding: 10px 3% 75px 3%;
  text-align: center;
  color: #444;
  box-shadow: 0 2px 6px rgba(100, 100, 100, 0.5);
  background: rgba(255,255,255,0.92); /* For browsers that do not support gradients */
}

.title  h1, .title {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #23345e;
  font-size: 50px;
}

hr {
  border: none;
  height: 2px;
  margin: 30px 20px 30px 20px;
  color: #333;
  background-color: rgba(0,0,0,0.5);
}

.education-block {
  text-align: center;
}

.education-image {
  background-color: #002f87;
  width: 25%;
  margin-left: 70px;
}

.education-image img {
  width: 100%;
  height: auto;
}

.education-institute {
  padding-top: 20px;
}

.more-info-button {
  margin-top: 50px;
  width: 250px;
  background-color: #23345e;
  color: white;
  border: 2px solid;
  letter-spacing: 2px;
  font-size: 14px;
  padding: 15px 20px 15px 20px;
  /*Transitions*/
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  /* main property */
  transition:.3s;
  font-family: "HelveticaNeue-Light";
}

.more-info-button:hover {
  background-color: white;
  color: black;
}
